<div data-role="view" data-title="Alarms" data-layout="main" data-model="app.alarmsView" data-show="app.alarmsView.onShow" data-after-show="app.alarmsView.afterShow">

    <!-- START_CUSTOM_CODE_alarmsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_alarmsView -->
    <ul data-role="listview" data-auto-bind="false" data-style="inset" data-template="alarmsViewModelTemplate" data-bind="{ source: alarmsViewModel.dataSource, events: {click: alarmsViewModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_alarmsViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_alarmsViewModel -->
    <script type="text/x-kendo-template" id="alarmsViewModelTemplate">
        <div style="display:inline;" class="image-with-text">
        	<div style="border-style: solid;border-width: 1px">
            	<!--<h3><span class="#: data.icon() #"></span>#: data['alarmType'] #</h3>-->
            	<h3>#: data['alarmType'] #</h3>	
			</div>
            <div style="border-style: solid;border-width: 1px;">
            	<div style="border-style: solid;border-width: 1px">
                	#: data['alarmDate'] #
                </div>
                <div style="border-style: solid;border-width: 1px">
                    #: data['alarmTime'] #
                </div>
            </div>
        </div>
        </div>
    </script>
</div>