<div data-role="view" data-use-native-scrolling="true" data-title="Update User" data-layout="main" data-reload="false" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- HTML BODY -->
    <br>
    <div style="margin:auto;width:95%;background-color:white;border:2px solid grey;border-radius:8px;display-style:groove;">
        <div id="viewModel" class="form-view">
            <div data-bind="source: viewModel.demoData" data-template="credentials-template"></div>
            <script type="text/x-kendo-tmpl" id="credentials-template">
            <div>
                <table style="border:1px solid black;padding-top:10px;padding-bottom:10px;">
                    <tr>
                        <td style="width:35%">
                            <font class="user">Card Number:</font>
                        </td>
                        <td colspan="2" style="width:30%">
                            <input class="cardNumber" data-bind="value: HOTSTAMP" type="text">
                        </td>
                        <td class="tdDelete">
                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="min-width:50%;max-width:50%;">
                            <font class="user">Card Format:</font>
                        </td>
                        <td colspan="2" style="min-width:50%;max-width:50%;">
                            <font class="user">Card Status:</font>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="min-width:50%;max-width:50%;">
                            <input data-bind="value: CARDFORMAT" type="text">
                        </td>
                        <td colspan="2" style="min-width:50%;max-width:50%;">
                            <input data-bind="value: STATUS" type="text">
                        </td>
                    </tr>
                </table>
                              
                <div data-bind="source: PANELS" data-template="panels-template"></div>
            </div>
            </script>

            <script script type="text/x-kendo-tmpl" id="panels-template">
                <div id="collapsible" data-role="collapsible" data-collapsed="true" data-collapse-icon="arrow-n" data-expand-icon="arrow-s" data-icon-position="right" data-animation="false">
                    <h4>#: data['PANELNAME'] #</h4>
                    <table style="width:100%">
                        <tr>
                        	<td>
                            	<input data-bind="value: USER_CODE" type="text">
                            </td>
                      	</tr>
                        <tr>
                            <td>
                                <input data-bind="value: ENABLED" type="text">
                            </td>
                            <td colspan="2">
                                <input data-bind="value: PROFILENAME" type="text">
                            </td>
                        </tr>
                    </table>
                </div>
            </script>
            
        </div>
    </div>
    <a data-role="button" onclick="alert(app.home.viewModel.demoData[0].PANELS[0].PROFILENAME)">CREDENTIAL 1, PANEL 1, PROFILENAME</a>
    <a data-role="button" onclick="alert(app.home.viewModel.demoData[1].PANELS[1].ENABLED)">CREDENTIAL 2, PANEL 2, ENABLED</a>
    <a data-role="button" onclick="alert(app.home.viewModel.demoData[0].HOTSTAMP)">CREDENTIAL 1 HOTSTAMP</a>
</div>